.nav {
  grid-area: n;
  background-color: #383838;
  padding: 25px;
}

.fons {
  background-color:#535353;
  border-radius: 8px;
  width: 235px;
  padding: 24px;
}

.item {
  display: flex;
  color: white;
  padding: 0px 0px 24px 0px;
}

.item a {
  color: aliceblue;
  text-decoration: none;
}

a {
  margin-left: 30px;
}
 
.item a.activeLink {
  color: rgb(140, 245, 219);
}
